* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

/*header*/

/*header sx*/

header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header > div, .recording {
    display: flex;
    align-items: center;
}

.secure {
    display: inline-block;
    color: green;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0px 10px;
}

.recording, .secure, .view {
    background-color: black;
    border-radius: 5px;
}

.recording span {
    margin-right: 8px;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid lightgrey;
    margin: 6px 6px 6px 9px;
    animation: onoff 1s infinite ;
}

@keyframes onoff {
    50% {
        background-color: rgb(255, 147, 147);
    }
}

/*header dx*/

.view {
    padding: 6px;
    margin-right: 10px;
}

.view i {
    margin-right: 6px;
}

/*fine header*/

/*main*/

main {
    width: 80vw;
    margin: auto;
    height: calc(100vh - 100px);
}

.persone {
    display: flex;
    flex-flow: wrap;

}

.schermata {
    position: relative;
    width: calc(100% / 5 - 6px);
    height: calc((100vh - 100px) / 5 - 6px);
    background-color: rgb(85, 85, 85);
    margin: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.schermata img {
    width: 100%;
    height: 100%;
}

.name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px 3px;
}

.name i {
    color: red;
}






